---
import "../styles/global.css";
import FeedItem from "../components/FeedItem.astro";
import ClockIcon from "../components/icons/ClockIcon.astro";
import CodeFileIcon from "../components/icons/CodeFileIcon.astro";
import DocumentIcon from "../components/icons/DocumentIcon.astro";
import getAllFeedItems from "../services/feeds";

const { contents: feedItems } = await getAllFeedItems();
const updateTime = new Date();
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Carter's RSS Feeds</title>
		<link
			rel="icon"
			href="/rss-reader/news-emoji.svg"
			sizes="any"
			type="image/svg+xml"
		/>
		<link rel="manifest" href="/rss-reader/manifest.json" />
		<script>
			import "@github/relative-time-element";
		</script>
	</head>
	<body class="m-2">
		<header class="flex flex-row gap-4">
			<h1 class="grow">Carter's RSS Feeds</h1>
			<div class="flex flex-row gap-1 items-center">
				<ClockIcon />
				<relative-time datetime={updateTime}></relative-time>
			</div>
			<div class="flex flex-row gap-1 items-center">
				<DocumentIcon />
				<p>
					{feedItems.length} items
				</p>
			</div>
			<a
				href="https://github.com/carterworks/rss-reader"
				class="pointer hover:bg-gray-100 rounded-md flex flex-row gap-1 items-center"
				title="View the source code on GitHub"
			>
				<CodeFileIcon />
				<span>GitHub</span>
			</a>
		</header>
		<main>
			<ul>
				{feedItems.map((item) => <FeedItem item={item} as="li" />)}
			</ul>
		</main>
	</body>
</html>
